<br>  
<form class="example-form" [formGroup]="form" (ngSubmit)="aceptar()" #loginForm="ngForm">
    <div [hidden]="true">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>
    
  <table class="example-full-width">
    <tr>
    <td style="width: 50%">
        <div class="example-container">

      <mat-form-field style="width: 100%">
        <input type="text" placeholder="Paciente" [(ngModel)]="PacienteEdit" matInput [matAutocomplete]="autoPaciente" [formControl]="myControl">
        <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="displayFn" (optionSelected)="seleccionarPaciente($event)">
          <mat-option *ngFor="let p of filteredOptions | async" [value]="p">
            {{ p.nombres }} {{p.apellidos}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      </div>
    </td>
    <td style="padding-left: 20px; align-content: center; width: 50%">
      <button type="button" mat-raised-button (click)="openDialog()" color="primary">Nuevo Cliente</button>
    </td>
   </tr>
  </table>

  <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="fecha" name="fecha" required formControlName="fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Temperatura" value="" [(ngModel)]="temperatura" name="temperatura" required formControlName="temperatura">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Pulso" value="" [(ngModel)]="pulso" name="pulso" required formControlName="pulso">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Ritmo Respiratorio" value="" [(ngModel)]="ritmo_respiratorio" name="ritmo_respiratorio" required formControlName="ritmo_respiratorio">
  </mat-form-field>
  
  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" >
      <mat-icon>done</mat-icon>
      <span>Aceptar</span></button>
  <button mat-raised-button color="warn" routerLink="/signos-vitales">
      <mat-icon>close</mat-icon>
      <span>Cerrar</span>
  </button>
   
  
 </form>
