  <mat-toolbar>Nuevo Cliente</mat-toolbar>
   
  <form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #loginForm="ngForm">

       <!-- <div [hidden]="true">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
          </mat-form-field>
        </div> -->
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nombres" required formControlName="nombres">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Apellidos" required formControlName="apellidos">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="DNI" required formControlName="dni" type="number" max="99999999">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Dirección" required formControlName="direccion">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Teléfono" required formControlName="telefono" type="number" maxlength="9">
        </mat-form-field>
        <br>
      
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          <mat-icon>done</mat-icon>
          <span>Aceptar</span>
        </button>
        <button type="button" mat-raised-button color="accent" (click)="close()">
          <mat-icon>close</mat-icon>
          <span>Cancelar</span>
        </button>
      </form>
      