<router-outlet *ngIf="route.children.length !== 0"></router-outlet>
<br>
<div class="example-container mat-elevation-z8" *ngIf="route.children.length === 0">    
        <div class="example-header">
                <button mat-fab color="accent" style="float: right" routerLink='/signos-vitales/signos-edicion'>
                    <mat-icon>create</mat-icon>
                  </button>
                
            <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Registro de Signos Vitales">
          </mat-form-field>
        </div>
    
        <mat-table [dataSource]="dataSource" matSort>
    
          <ng-container matColumnDef="idSignosVitales">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.idSignosVitales}} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="Fecha">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.fecha | date :  "dd.MM.yyyy"}}</mat-cell>
         </ng-container>

          <ng-container matColumnDef="Paciente">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nombre_completo}}</mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="temperatura">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.temperatura}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="pulso">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Pulso </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.pulso}} </mat-cell>
              </ng-container>
    
          <ng-container matColumnDef="ritmoRespiratorio">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Ritmo Respiratorio </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.ritmoRespiratorio}} </mat-cell>
            </ng-container>
    
    
          <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-button color="primary" [routerLink]="['signos-edicion', row.idSignosVitales]">Actualizar</button>
            </mat-cell>
          </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
    
          </mat-row>
        </mat-table>
    
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)="mostrarMas($event)"></mat-paginator>
     
     
    </div>

      