<div class="example-container" >
    <mat-toolbar color="primary" class="example-toolbar" *ngIf="loginService.estaLogeado()">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>

        <h1 class="example-app-name">MediApp</h1>

        <span class="example-spacer"></span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/perfil" routerLink="/user-info">
                <mat-icon>account_box</mat-icon>
                <span>Mi Perfil</span>
            </button>
            <button mat-menu-item routerLink="/login" (click)="loginService.cerrarSesion()" (click)="sidenav.opened = false">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar Sesión</span>
            </button>
        </mat-menu>

    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" >
        <mat-sidenav #sidenav mode="side" style="width: 200px" >
            <img src="assets/mitocode.png" width="64">

            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/buscar" style="cursor: pointer" *ngIf="loginService.isAdmin()">
                <mat-icon>search</mat-icon>
                <span>Buscar</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/consulta" style="cursor: pointer" *ngIf="loginService.isAdmin()">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Registrar</span>
            </button>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/consulta-especial" style="cursor: pointer" *ngIf="loginService.isAdmin()">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Registrar E.</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/especialidad" style="cursor: pointer" *ngIf="!loginService.isAdmin()">
                <mat-icon>star_rate</mat-icon>
                <span>Especialidades</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/medico" style="cursor: pointer" *ngIf="!loginService.isAdmin()">
                <mat-icon>healing</mat-icon>
                <span>Médicos</span>
            </button>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/examen" style="cursor: pointer" *ngIf="!loginService.isAdmin()">
                <mat-icon>assignment</mat-icon>
                <span>Examenes</span>
            </button>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/paciente" style="cursor: pointer" *ngIf="!loginService.isAdmin()">
                <mat-icon>accessibility</mat-icon>
                <span>Pacientes</span>
            </button>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/reporte" style="cursor: pointer" *ngIf="loginService.isAdmin()">
                <mat-icon>assessment</mat-icon>
                <span>Reportes</span>
            </button>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/signos-vitales" style="cursor: pointer" *ngIf="loginService.isAdmin()">
                <mat-icon>local_hospital</mat-icon>
                <span>Signos Vitales</span>
            </button>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>